<template>
  <main class="main_search">
          <button id="btnsearch" name="btnsearch" @click.prevent="SearchOn()" class="btn_main" style="">
              <img src="../../../static/type_icons/search.png">
          </button>

          <!-- <div class="search-mode">

          </div> -->
  </main>
</template>
<script>

export default {
  components:{

  },
  data(){
      return {

      }
  },
  methods:{
      SearchOn(){
          this.$ebus.$emit('search_mode', true);
      }

  },
  props:[],
}
</script>
<style scoped>
.main_search{
    display: inline-block;
}

#btnsearch{
    background: #6eef6e;
    border: 1px solid #6eef6e;
}
.main_search img{
   width:25px; 
}

</style>
