<template>
  <main>
          <button  @click.prevent="UploadOn()"  id="btnupload" class="btn_main">
              <img src="../../../static/type_icons/upload.png">
          </button>
  </main>
</template>
<script>

export default {
  data(){
      return {
            
      }
  },
  created(){

  },
  methods:{
      UploadOn()
            {
                this.$ebus.$emit('upload_mode', true);
            }
  },
  props:[],
}
</script>
<style scoped>
main{
    display: inline-block;
}

#btnupload{
    background: #fdb05a;
    border:1px solid #fdb05a;
}
img{
   width:25px; 
}
</style>
