<template>
  <main class="holder">
      <div>
          <btn-search></btn-search>
          <btn-upload></btn-upload>
      </div>
  </main>
</template>
<script>
import BtnUpload from "./button/BtnUpload";
import BtnSearch from "./button/BtnSearch";
export default {
  components:{
      BtnUpload,
      BtnSearch
  },
  data(){
      return {

      }
  },
  methods:{

  },
  props:[],
}
</script>

<style scoped>
    main.holder{
        position: fixed;
        right:0;
        bottom: 3%;
    }
    

</style>
