<template>
    <div class="file_display">
      <div class="tab_container">
			<input id="tab1" type="radio" name="tabs" checked>
			<label for="tab1"><i class="fa fa-code"></i><span>Recent</span></label>

			<input id="tab2" type="radio" name="tabs">
			<label for="tab2"><i class="fa fa-pencil-square-o"></i><span>Browse</span></label>

			<section id="content1" class="tab-content">
        <recent></recent>
			</section>

			<section id="content2" class="tab-content">
        <browse></browse>
			</section>

		</div>
    </div>
</template>
<script>
import Browse from '../components/filedisplay/Browse.vue';
import Recent from '../components/filedisplay/Recent.vue';
export default{
  components:{
    Browse, Recent
  },
}
</script>
<style scoped>
.file_display{
   
    width:75%;
    
    margin:10vh auto 0;

}
input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 50%;
  padding: 1em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2{
  background: white;
  display: block;
  height: 100vh;
  padding: 3em 5em;
  background: #fff;
  color: #999;
  border-bottom: 2px solid #f0f0f0;
  text-align: center;
}
.file_display [id^="tab"]:checked + label {

  background: #fff;
  box-shadow: inset 0 3px #0CE;
    -webkit-animation: fadeInScale 0.2s ease-in-out;
  -moz-animation: fadeInScale 0.2s ease-in-out;
  animation: fadeInScale 0.2s ease-in-out;
}

.file_display [id^="tab"]:checked + label .fa {
  color: #0CE;
}
.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.5s ease-in-out;
  -moz-animation: fadeInScale 0.5s ease-in-out;
  animation: fadeInScale 0.5s ease-in-out;
}
@keyframes fadeInScale {
  0% {
  	transform: scale(1);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}

</style>
