<template>
  <div id="type_overlay">
      <ul id="list_of_type">
        <li v-for="t in type" >
          <img :src="'static/type_icons/'+t.type_img"></p> 
          <p>{{t.type_name}}</p>
        </li>
      </ul>
  </div>

</template>
<script>
export default {
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      type:[
        { type_name:"all", type_img:"all.png"},
        { type_name:"documents", type_img:"documents.png"},
        { type_name:"audio", type_img:"music-player.png"},
        { type_name:"images", type_img:"picture2.png"},
        { type_name:"videos", type_img:"play-button.png"},
      ],
    }
  }
}
</script>
<style scoped>

#type_overlay{
  background:#404040a6;
  width:75%;
  margin: 0 auto;
}
#list_of_type{
  width:88%;
  margin:0 auto;
  color:white;
}
#list_of_type li{
  display: inline-block;
  width:20%;
  padding: 3em 0em;
}
#list_of_type li img{
  width:45%;
}
</style>
