<template>
  <main >
      <span id="close_overlay" @click="closeOverlay" >X</span> 
        
        <div ref="droparea" v-show="upload_mode" id="upload_overlay" class="main_overlay u_m">

            <input type="file" id="input_file" accept="*" multiple>
            <!-- <input type="file" id="input_file" accept="image/*" multiple>
            Pour sélectionner plusieurs fichiers à la fois -->
            <div class="center" @click="prepareFile()">
                <img src="../../static/type_icons/upload.png">
                <br>
                <div v-show="!file_array">Glissez Déposer vos fichers<br>
                ou cliquer ici pour les uploader</div>
                <div v-if="nb_u" >
                    <!-- <span class="client_speed">{{ client_speed }} mo/s</span> -->
                    <span class="nb_file_line"><b>{{ totalLoad }}/{{ nb_u }}</b> fichiers en upload ( {{ upload_status }}% )<br></span>
                    <div class="file_list">
                        <span>{{ niceSize(totalLoadraw) }}</span>/<span>{{ niceSize(totalSizeraw) }}</span>
                    <div class="bar_anim"></div>
                        <p v-for="(f, index) in file_array" :key="`f_${index}`">
                            {{ f.name }}  
                            <span  class="preview_size">{{ niceSize(f.size) }}</span>
                            <span type="text" :id="`f_${index}`" :ref="`f_${index}`"></span>
                        </p>
                    </div>           
                </div>
            </div>

        </div>
        <div v-show="search_mode" id="search_overlay" class="main_overlay s_m">

            <img src="../../static/type_icons/search.png">
            <br>
            <input id="search_input" ref="search_text" type="text" @input="initSearch($event)" placeholder="">
            <span @click="resetForm">X</span>


        </div>
  </main>
</template>
<script>
import axios from 'axios';
import { EventBus } from '../../../al/event-bus';

export default {
        watch:{
        },
        created(){
                  this.$ebus.$on("upload_mode", this.modeUploadOn);
                  this.$ebus.$on("search_mode", this.modeSearchOn);
                  
        },
    	mounted() {
            this.input = this.$el.querySelector("#input_file");

            document.getElementById('upload_overlay').addEventListener("dragover", function( event ) {
            // prevent default to allow drop
            event.preventDefault();
            });

            document.getElementById('upload_overlay').addEventListener("drop", ( ev ) => {
            // prevent default action (open as link for some elements)
            event.preventDefault();

                var storing = []
    

                if (ev.dataTransfer.items) {
                // Use DataTransferItemList interface to access the file(s)
                    for (var i = 0; i < ev.dataTransfer.items.length; i++) {
                    // If dropped items aren't files, reject them
                    if (ev.dataTransfer.items[i].kind === 'file') {
                        //var file = ev.dataTransfer.items[i].getAsFile();
                        storing.push(ev.dataTransfer.items[i].getAsFile());
                        //console.log('... file[' + i + '].name = ' + file.name);
                
                        }
                    }
                    this.up(storing);
                }
            });
		},
		data() {
			return {
                input: null,
                name_u:null,
                nb_u:null,
                size_u:null,
                file_array:null,
                client_speed:null,
                upload_status:0,
                upload_mode:false,
                search_mode:false,
                search_text:false,
                totalLoad:0,
                totalSizeraw:0,
                totalLoadraw:0,
                
			}
		},
		methods: {
			checkFileType(type) {
				const isAuthorized = [
					"image/gif",
					"image/jpeg",
					"image/png",
					"image/svg+xml",
				].find(mime => {
					return mime === type;
				});
				return Boolean(isAuthorized);
			},
			checkFileSize(size) {
				return (size / 1024) / 1024 <= 20; // inférieur ou égal
            },
            niceSize(bytes) {
                if(bytes < 1024) return bytes + " Bytes";
                else if(bytes < 1048576) return(bytes / 1024).toFixed(2) + " KB";
                else if(bytes < 1073741824) return(bytes / 1048576).toFixed(2) + " MB";
                else return(bytes / 1073741824).toFixed(2) + " GB";
            },
			prepareFile() {
				this.input.click();
				this.input.onchange = (e) => {
                        this.up(e.target.files);
				}
            },
            uploadToServer(File_list ) {
                
                var file_status = [];
                var file_current_up = [];
                var total_c = 0;
                var ztotal = 0;
                var counter = 0;
                for (let i = 0; i < File_list.length; i++) {
                    const file = File_list[i];         
                    const fd = new FormData();
                    fd.append("image_upload", file);
                    // console.log("----------------------------------------");
                    // console.log(file);
                    // console.log("----------------------------------------");
                    // console.log("_____formdata à envoyer vers node______"+file.name);
                    axios({
                        method: "post",
                        url: "http://localhost:3003/file/upload",
                        data: fd,
                        onUploadProgress: (evt) => {
                            
                            if(evt.loaded == evt.total){
                                this.totalLoad++;
                            }
                            ztotal = 0;
                            if(counter <= File_list.length)
                            {
                                if(file_status[i] == undefined)
                                {
                                    file_status[i] = evt.total;
                                    counter++;
                                }
                              }
                           if( File_list.length == counter)
                            {
                                for (let j = 0; j < file_status.length; j++) {
                                  if(file_status[j]){ ztotal += file_status[j]; }
                                }  
                                this.totalSizeraw = ztotal;
                            }
   

                            file_current_up[i] = evt.loaded;                   
                            total_c = 0
                            for (let j = 0; j < file_current_up.length; j++) {
                               if(file_current_up[j] != undefined)
                               {
                               total_c +=  file_current_up[j];
                               } 
                            }
                            
                            if(this.totalSizeraw != 0){
                                this.totalLoadraw = total_c;
                                this.upload_status = Math.floor((this.totalLoadraw * 100)/ this.totalSizeraw);
                            }
                            
                            let percentLoaded = Math.floor((evt.loaded * 100) / evt.total);           
                            document.getElementById('f_'+i).innerHTML=percentLoaded+"%";
                        }
                      }
                    ).then(res => {
                        console.log("all good upload" + file.name);
                        
                        this.$ebus.$emit("uploaded-file");
                        this.$ebus.$emit("message-from-app", {
                            txt:"success",
                            status:"success"
                        });
        


                    }).catch(err => {
                        console.warn("all wrong upload" + file.name);
                        console.error(err);
                        this.$ebus.$emit("message-from-app", {
                            txt:"echec cuisant",
                            status:"error"
                        });
                    });
                }
                    
            },
            initSearch(input)
            {

            },
            update_status(){

            },
            closeOverlay(){
                this.$ebus.$emit('search_mode', false);
                this.$ebus.$emit('upload_mode', false)    
            },
            modeSearchOn(){
                this.upload_mode = false;
                this.search_mode = true;
                this.$nextTick(() => this.$refs.search_text.focus())
            },
            modeUploadOn(){
                this.search_mode = false;
                this.upload_mode = true;
            },     
            resetForm(){
                this.$refs.search_text.value = "";
            },
            up(storing){
                        this.totalLoad = 0;
                        this.file_array = null;
                        this.totalSizeraw=0;
                        this.totalLoadraw=0;
                        this.nb_u = storing.length;
                        this.file_array = storing;
                    
                        if(!storing) return;
                        let warning = "";
                        // warning += !this.checkFileType(file.type) ? "type non supporté \n" : "";
                        // warning += !this.checkFileSize(file.size) ? "fichier trop lourd \n" : "";
                        if(!warning) {
                            console.log(storing);
                            this.uploadToServer(storing);
                        } else {
                            console.warn(warning);
                        }
            }
        },
        props: ['value']
 
}
</script>
<style scoped>
.center{
    height:100vh;
    
    text-align: center;
}
    .main_overlay{
        width: 100vw;
        height: 100vh;
        position: fixed;
        
        top:0;
        overflow: hidden;
    }

    #close_overlay{
        position: fixed;
        right: 3%;
        top: 2%;
        font-size:40px;
        cursor: pointer;
        z-index: 3;
    }

    #input_file {
		display: none;
	}
	#icon {
		pointer-events: none;
	}
    .file_list{
        color: #fbfbfb;
        font-family: calibri;
        border-top:0px solid #ffa100;
        display: inline-block;
       
    }

    .bar_anim{
        margin-top: 1em;
        margin-bottom: 2em;
        height: 0.2em;
        border-radius: 1em;
        color: #fff;
        background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
        background-size: 400% 400%;
        -webkit-animation: Gradient 15s ease infinite;
        -moz-animation: Gradient 15s ease infinite;
        animation: Gradient 15s ease infinite;
    }

    @-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.nb_file_line{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.preview_size{
    color:forestgreen
}

.s_m{
    background: #8ed335;
    padding-top: 20vh;
    color:#fff;
}
.u_m{
    background: #ff9e00;
    padding-top: 30vh;
    
}

#search_input{
    background: none;
    border-left:0;
    border-right: 0;
    border-top:0;
    outline: none;
    min-width:24%;
    font-size: 24px;
    margin-top: 2em;
    color:#2c3e50;
    max-width: 40vh;
    padding-bottom: 0.3em
}
</style>
