<template>
  <div id="app">
    <img src="./assets/logo.png" style="width:8%;visibility:hidden">
    <filterbar></filterbar>
    <filedisplay></filedisplay>
    <button-list></button-list>
    <overlay v-show="mode_upload || mode_search"></overlay>
    <!-- <router-view/> -->
  </div>
</template>

<script>
import Filterbar from "./components/Filterbar";
import Filedisplay from "./components/Filedisplay";
import ButtonList from "./components/ButtonList";
import Overlay from "./components/Overlay";

export default {
  name: 'App',
  components:{
    Filterbar,
    Filedisplay,
    ButtonList,
    Overlay
  },
  created(){
      this.$ebus.$on("upload_mode", this.modeUploadOn);
      this.$ebus.$on("search_mode", this.modeSearchOn);
  },
  data(){
    return{
      mode_search:false,
      mode_upload:false
    }
  },
  methods:{
    modeUploadOn(value){
        this.mode_search = false;
        this.mode_upload = value;
    },
    modeSearchOn(value){
        this.mode_upload = false;
        this.mode_search = value;
    }
  }
}
</script>

<style>
*{
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  user-select: none;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  
background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  
}
    button.btn_main{
        border-radius: 50%;  
        padding: 2em;
        user-select: none;
        outline: none;
        color: #fff;
        border:none;
        display: inline;
        margin-right: 1em;
        cursor: pointer;
    }
    button.btn_main:hover{
      border:1px solid #000;
    }

</style>
